#newGame2, #newGame3, #newGame4 {
  color: white;
  font-weight: 600;
  background-color: black;
  border-radius: 5px;
  width: 80px;
  padding: 10px;
  text-align: center;
  margin-left: 5px;
  opacity: 0.5;
}
#newGame2:hover, #newGame3:hover, #newGame4:hover {
  cursor: pointer;
  opacity: 1.0;
}

#selection {
  display: flex;
  margin-top: 30px;
}


html {
  font-family: 'Ubuntu', sans-serif;
  background-image: url('./images/PNG/H1uK45i.png');
  background-size: cover;
}

#many-chips {
  height: 150px;
  width: fixed;
  /* padding-left: 45px; */
  padding-top: 50px;
}

#blue-chips {
  /* padding-left: 45px; */
  padding-top: 50px;
  height: 90px;
}

#small-chips {
  /* padding-left: 45px; */
  padding-top: 50px;
  height: 80px;
}

#most-chips {
  height: 200px;
  width: fixed;
  /* padding-left: 45px; */
  padding-top: 50px;
}

#medium-chips {
  height: 125px;
  width: fixed;
  /* padding-left: 45px; */
  padding-top: 50px;
}

#holdem {
  color: white;
  padding-left: 50px;
  font-size: 40px;
  text-shadow: 4px 4px black;
}

#dealer-deck {
  display: flex;
  padding-top: 20px;
}

img {
  width: fixed;
  height: 175px;
  padding-left: 5px;
}

#dealer-message-box {
  padding-left: 50px;
  color: white;
}


#display-status {
  font-weight: 525;
  color: white;
  background-color:rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 10px;
  width: 200px;
  padding-left: 40px;
}

@-webkit-keyframes color-change {
    0% { color: red; }
    25% { color: yellow; }
    50% { color: orange; }
    75% { color: red; }
    100% { color: red; }
}

#back-card {
    border-radius: 9px;
}

#table {
  padding-left: 50px;
}

#hands {
  display: flex;
}

#Player1, #Player2, #Player3, #Player4 {
  display: flex;
  flex-direction: column;
  /* width: 230px; */
  /* margin-left: 25px; */
}

#Player1-hand, #Player2-hand, #Player3-hand, #Player4-hand {
  /* padding-right: 44px; */
  display: flex;
  justify-content: flex-start;
  /* align-items: */
  /* margin-top: 50px; */
}
#Player1-name, #Player2-name, #Player3-name, #Player4-name {
  padding-left: 44px;
  color: yellow;
  font-weight: 500;
  opacity: 0.6;
}

#folded {
  color: red;
  font-size: 30px;
  padding-left: 42px;
  text-shadow: 3px 3px black;
}

#Player1-money, #Player2-money, #Player3-money, #Player4-money {
  width: 150px;
  margin-left: 71px;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  border: 1px;
  padding: 15px;
  text-align: center;
  box-shadow: 3px 5px black;
  text-shadow: 3px 3px black;
  background-image: url('./images/PNG/wood-grain.jpg');
}

#Player1-action, #Player2-action, #Player3-action, #Player4-action {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

#Player1fold, #Player1call,  #Player2fold, #Player2call,
#Player3fold, #Player3call,  #Player4fold, #Player4call, #Player1bet, #Player2bet, #Player3bet, #Player4bet  {
  font-weight: 500;
  border: 1px solid black;
  text-align: center;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 50px;
  /* height: 40px; */
  background-color:	black;
  opacity: 0.8;
  color: white;
}

#Player1bet, #Player2bet, #Player3bet, #Player4bet {
  width: 100px;
  padding: 10px;
  /* margin-top: 10px; */
}

input[type="number"] {
  width: 70px;
  padding: 2px;
  border-radius: 3px;
}

input[type="submit"] {
  margin-top: 10px;
  width: 70px;
  border-radius: 5px;
  font-weight: 800;
}
input[type="submit"]:hover {
  cursor: pointer;
}

#Player1fold:hover, #Player1call:hover, #Player1bet:hover, #Player2fold:hover, #Player2call:hover, #Player2bet:hover,
#Player3fold:hover, #Player3call:hover, #Player3bet:hover, #Player4fold:hover, #Player4call:hover, #Player4bet:hover {
  cursor: pointer;
  font-weight: 600;
  /* opacity: 1.0; */
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

#winner-message {
  font-size: 22px;
  -webkit-animation: color-change 2s infinite;
  animation: color-change 2s infinite;
  padding-top: 15px;
}

#end-game-message {
  font-size: 22px;
  -webkit-animation: color-change 2s infinite;
  animation: color-change 2s infinite;
  padding-top: 15px;
}
